body{
    background-image: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

topnavbar{
     background-color: white ;
     overflow: hidden;
     background-size: 100px;
     width: 217vh;
     height: 50px;
}

.home{
    color: blue;


}
.contact{
    color: blue;

}
.about{
    color: blue;

}
