/* Common styles*/
body{
    background-image: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Roboto' , sans-serif;
}
div{
    color: royalblue;
}
.left-column > .contact-hours-wrapper{
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.address-wrapper{
    color: whitesmoke;
}
/* Common nav styles*/
.navigation-wrapper{
    height: 120px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Making a Flex box you use the code below: It arranges the Div in order of the code from the top downwards*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*creating a padding covers the nav bard to fit the screen*/
    padding: 60x 100px;
}
.left-column{
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.phone{
    color: whitesmoke;
}
.hours{
    color: whitesmoke;
}
.nav-link a{
    font-family: 'Roboto' , sans-serif;
    color: whitesmoke;
}
.nav-link b{
    font-family: 'Roboto' , sans-serif;
    color: whitesmoke;
}
.banner-image{
    width: 216px;
    height: 90px;
    padding: 60px 100px;
    margin: 0px;
    background-position: 10px;
    background-size: cover;
}

